
@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<table class="table">
    <div class="row">
        <ul class="course">
            @foreach (var course in Model)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @course.DateTime.ToString("MM")
                        </div>
                        <div class="day">
                            @course.DateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="details">
                        <span class="lecture">
                            @course.LectureName
                        </span>
                        <span class="category">
                            @course.Category.Name
                        </span>
                    </div>
                </li>
            }
        </ul>
    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LecturerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LecturerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Courses", new { id = item.Id })">Edit</a>
                    <a href="@Url.Action("Delete", "Courses", new { id = item.Id })">Delete</a>
                </td>
            </tr>
        }

    </table>
